@use "@scss/common" as *;

.headerOuter {
  position: relative;
  width: 100%;
  z-index: 10;
}

.headerInner {
  position: relative;
}

.content {
  position: relative;
  padding-top: base(0.5);
  padding-bottom: base(0.5);
}

.wrapper {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.logoNavWrapper {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  min-width: 0; // flexbox quirk
}

.logoWrapper {
  padding: base() 0;
  width: base(6);
  flex-shrink: 0;
}

.logoAnchor {
  display: flex;
  align-items: center;
  color: currentColor;
  transition: all var(--default-trans-time) linear;
}

.controls {
  display: flex;
  flex-shrink: 0;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: base(0.5);
  }
}

.searchButton,
.mainMenuButton {
  @include button-reset;
  transition: var(--default-trans-time) linear all;
  opacity: 1;
  background-color: var(--color-white);
  width: base(1.5);
  height: base(1.5);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-s);
}

.searchDimmed,
.closeDimmed {
  opacity: 0.5;
}

.white {
  color: var(--color-white);
}

.subsiteNav {
  flex-shrink: 1;
}

.modalIsOpen {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--color-trans-white-2);
  }
}
