@use "@scss/common" as *;

.card {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--color-white);
  box-shadow: var(--shadow-s), var(--shadow-m);
  display: flex;
  flex-direction: column;
}

.anchor {
  display: block;
  padding: base(0.5);
}

.content {
  display: flex;
  align-items: flex-end;
  padding: base(1);

  @include large-break {
    padding: base(0.5);
  }
}
