@use "@scss/common" as *;

.title {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
}

.cardLeader {
  margin-bottom: base();

  @include mid-break {
    margin-bottom: base(0.5);
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: base(0.5);
}

.description {
  margin-top: base(0.5);
}

.image {
  width: 50%;
  margin-bottom: base();

  @include mid-break {
    width: 100%;
    margin-bottom: base(0.5);
  }
}
