@use "@scss/common" as *;

.animateInOut {
  will-change: opacity transform;
  transition: all 500ms linear;
}

.opacity {
  opacity: 0;
}

.translateY {
  transform: translate3d(0, base(1), 0);

  @include mid-break {
    transform: translate3d(0, base(0.5), 0);
  }
}

.translateX {
  transform: translate3d(base(-1), 0, 0);
  @include mid-break {
    transform: translate3d(base(-0.5), 0, 0);
  }
}

.isIntersecting {
  &:local() {
    &.opacity {
      opacity: 1;
    }

    &.translateY {
      transform: translate3d(0, 0, 0);
    }

    &.translateX {
      transform: translate3d(0, 0, 0);
    }
  }
}
