@use "@scss/common" as *;

.loadingCircle {
  border-radius: 50%;
  border: solid rgba(white, 0.3);
  border-right: solid rgba(black, 0.8);
  animation: rotate-circle 650ms linear infinite;
}

.small {
  width: 35px;
  height: 35px;
  border-width: 5px;
}

.medium {
  width: 70px;
  height: 70px;
  border-width: 7px;
}

@keyframes rotate-circle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
