@use "@scss/common" as *;

.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: base(4) 0;

  @include mid-break {
    padding: base(2) 0;
  }

  .socialLinksDesktop {
    margin-top: base(2);
    @include mid-break {
      display: none !important;
    }
  }

  .socialLinksMobile {
    display: none !important;
    @include mid-break {
      display: flex !important;
      margin-top: base();
    }
  }
}

.blockContainer {
  width: 100%;
}

.content {
  & > *:not(:last-child) {
    margin-bottom: base(4);
  }

  @include mid-break {
    & > *:not(:last-child) {
      margin-bottom: base();
    }
  }
}

.column {
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: base(0.5);
  }
}

.logo {
  display: flex;
  margin-bottom: base();
  width: base(1.5);

  @include mid-break {
    display: none;
  }
}

.contact {
  @include small;

  & > *:not(:last-child) {
    margin-bottom: base(0.5);
  }
}

.contactLink {
  display: block;
  color: currentColor;
  text-decoration: none;
  font-weight: normal;
}

.mobileLogo {
  display: none;
  @include mid-break {
    width: base(1.75);
    display: flex;
    margin-bottom: base(1);
  }
}

.legal {
  @include small;
  color: var(--color-gray);
  text-align: center;
  display: flex;
  justify-content: center;

  & > *:not(:last-child) {
    margin-right: base(0.5);
  }

  @include mid-break {
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;

    & > *:not(:last-child) {
      margin-right: 0;
      margin-bottom: base(0.5);
    }
  }
}

.legalLink {
  text-decoration: underline;
  font-weight: inherit;
}

.languageToggler {
  @include button-reset;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-top: base();
  opacity: 1;
  transition: all linear vaR(--default-trans-time);

  &:hover {
    opacity: 0.5;
  }

  @include mid-break {
    margin-top: base(0.5);
  }
}

.languageLabel {
  margin-left: base(0.5);
}

.locations {
  & > *:not(:last-child) {
    margin-bottom: base(0.5);
  }
}
